body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(244 77 39);
}
form{
    display:flex;
    justify-content: space-between;
    width:600px;
}
.columnForm{
    border:5px solid black;
    background-color: antiquewhite;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:400px;
    height:300px;
}
input{
    height:45px;
    margin:1%;
}
.button{
    background-color: #f3fbfc;
    border:1px solid rgb(115, 115, 115);
    border-radius: 5px;
    width: 125px;
    height: 45px;
}
.button:hover{
    background-color: #ddf7fa;
}
/*.message not being used for moment.*/
.message{
    background-color: white;
    color:rgb(135, 0, 0);
    width:200px;
    height: 50px;
    padding:1%;
}
p,li{
    font-size:x-large;
    font-stretch: expanded;
    font-family:monospace;
}

