html 
    include mixins/nav_buttons
    include mixins/search_form
    include mixins/add_form
    include mixins/update_form
    //variables used in this template assigned to same name variables here for readability.
    - var title= title 
    - var heading= heading
    - var route= route
    - var method= method
    - var buttonName= buttonName
    - var message= message
    head
        title= title 
        style
            include ./styles.css
    body
        h1= heading
        +nav_buttons()
        if buttonName === "Search" || buttonName === "Delete"
            - var names= names
            +search_form()
        else if buttonName === "Add"
            +add_form()   
        else 
            +edit_form()

        